<launch>
	
	<!-- Launch the camera nodes -->
	<node pkg="camera_publisher" type="camera_publisher_node.py" name="camera_0" args="camera_0 0" output="screen"/>
	<node pkg="camera_publisher" type="camera_publisher_node.py" name="camera_1" args="camera_1 1" output="screen"/>
	<node pkg="camera_publisher" type="camera_info_publisher.py" name="camera_0_info" args="/camera_0 /home/kyle/Dropbox/catkin_ws/src/camera_publisher/doc/calibrationdata/right.yaml" output="screen"/>
	<node pkg="camera_publisher" type="camera_info_publisher.py" name="camera_1_info" args="/camera_1 /home/kyle/Dropbox/catkin_ws/src/camera_publisher/doc/calibrationdata/left.yaml" output="screen"/>
	<node pkg="camera_publisher" type="stereo_extrinsic_publisher.py" name="stereo_extrinsics" args="/stereo /home/kyle/Dropbox/catkin_ws/src/camera_publisher/doc/calibrationdata/extrinsics.yml" output="screen"/>

</launch>
